@page
@model Movies.Web.Pages.PaketDetails.IncompleteModel

@{
    ViewData["Title"] = "Incomplete To Do Items (Razor Page)";
}

<h2>Incomplete To Do Items (Razor Page)</h2>
<ul>
    @if (Model.Films != null)
    {
        @foreach (var item in Model.Films)
        {
            <li>
                @item.Naslov
                <br/>@item.Zanr
                <br/>@item.Ulozeno
            </li>
        }
    }
</ul>
